[submodule "lib/traveler"]
	path = lib/traveler
	url = https://github.com/bonzaiferroni/Traveler.git
[submodule "lib/WombatPOSIS"]
	path = lib/WombatPOSIS
	url = https://github.com/Lexxicon/WombatPOSIS.git
[submodule "lib/screeps/common"]
	path = lib/screeps/common
	url = https://github.com/screeps/common.git
[submodule "lib/typed-screeps"]
	path = lib/typed-screeps
	url = https://github.com/screepers/typed-screeps.git
