[submodule "lib/screeps-typed"]
	path = lib/screeps-typed
	url = https://github.com/wmulligan/screeps-typed.git
[submodule "lib/traveler"]
	path = lib/traveler
	url = https://github.com/bonzaiferroni/Traveler.git
[submodule "lib/posis"]
	path = lib/posis
	url = https://github.com/screepers/POSIS.git
[submodule ".\\lib\\kernel"]
	path = .\\lib\\kernel
	url = https://github.com/ags131/PosisKernel.git
